#Maven ignore files
target
classes

#Eclispe ignore files
*.project
*.classpath
.settings

#IDEA ignore files
.idea
*.iml
out
bin
gen
gen-external-apklibs

#STS
*.springBeans

#Android NDK related files
libs
obj
.cproject